@model PLVSTIK.Models.Product
@{
    ViewBag.Title = "Shop";
    ViewBag.HasFeaturedImage = true;
    ViewBag.FeaturedImage = "#";
}

@*<h2>Shop</h2>*@

@Model.Title

<h1>@Model.Id</h1>
@*<h2>asd</h2>*@
