@model PLVSTIK.Models.Product
@{
    ViewBag.Title = "View Product Single";
    ViewBag.HasFeaturedImage = true;
    ViewBag.FeaturedImageUrl = "/Content/uploads/photo-1512436991641-6745cdb1723f.jpeg";
}

<h2>
    @Model.Title
</h2>