@{
    ViewBag.Title = "About";
    ViewBag.HasFeaturedImage = true;
    ViewBag.FeaturedImageUrl = "https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead">Welcome to <strong>PLVSTIK</strong>, the creative apparel brand - designed to impress and inspire.</p>
                <p>Our first collection will launch in June, 2019. If you would like to pre-order, <a href="/shop">check out the shop</a> and let us know which items you want!</p>
            </div>
        </div>
    </div>
</section>



