
@{
    ViewBag.Title = "Index";
    ViewBag.HasFeaturedImage= false;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1514866747592-c2d279258a78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" />
            </div>
            <div class="col-12 col-lg-8">
                <h1>
                    Welcome to Plvstik <br />
                    <small class="text-muted">Explore. Discover. Create.</small>
                </h1>
                <p class="lead">Creative apparel designed to impress and inspire.</p>
                <p class="content">Lorem ipsum dolor sit amet.</p>
                <a href="/shop" class="btn btn-primary">Shop</a>
                <a href="/contact" class="btn btn-secondary">Contact Us</a>
            </div>
        </div>
    </div>
</section>